


body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#brand{
    color: black;
    font-size: 30px;
}

.navbar{ 
    color: black;
    background-color: rgba(255, 255, 255, 0.3);   
}

.button{
    width:150px;
    height:40px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
  }



/* HOME PAGE */

@media (max-width:fullscreen) {
    #car-vid { display: none; }
    #home-pg {
      background: url("/public/Cars/capstone.m4v") no-repeat;
      background-size: cover;
    }
    #wheel-vid { display: none; }
    #sign-in-pg {
      background: url("/public/Cars/wheel.mov") no-repeat;
      background-size: cover;
    }
    
    
}

#car-vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

 #home-pg{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: white;
}


.home-title{
    background-color: rgba(5, 5, 5, 0.284);
    box-shadow: 0px 0px 80px 60px rgba(4, 4, 4, 0.297);
    padding: 5px 10px;
    margin: 30px 50px ;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



/* CARS PAGE */

#car-search-pg{
    width: 100vw;
    height: 1000px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url('/public/Cars/CH6.jpeg') no-repeat;
    background-size: cover;
   
}

.car-search{

    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#car-display{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#car-input{
    text-align: center;
    width: 300px;
    height: 55px;
    font-size: 25px;
    border-radius: 15px;
    border: black solid 1px;
    background-color:rgba(255, 255, 255, 0.647);
}

#submit-button{
    width:150px;
    height:40px;
    background-color:rgba(255, 255, 255, 0.647);
    border: 1px black solid;
    border-radius: 10px;
}


#plus{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 20px;
}

#edit-form{
    text-align: center;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;

}

#edit-btn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 20px;
}
#update-btn{
    width:150px;
    height:30px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    margin-left: 170px;
}


/* SIGN IN PAGE */

#wheel-vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


#sign-in-pg{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: white;
    margin: 60px;
}
#sign-in-form{
    text-align: center;
    
}



/* SIGN UP PAGE */

#sign-up-pg{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: white;
    margin: 60px;
}

#sign{
    color: white;
    text-decoration: underline;
    margin: 15px;
    font-size: 20px;
}

#sign-up-form{
    text-align: center;
}



/* ACCOUNT PAGE */
#account-pg{
    text-align: center;
}

#cards{
    height: 900px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#card{
    width: 500px;
    height: 300px;
    margin: 20px;
    text-align: left;
}

#logout-btn{
    border: black solid 1px;
    background-color: white;
    font-size: 20px;
    margin: 55px;
}
#remove{
    border: none;
    background-color: white;
    margin: 20px;
}